
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin : 0;
    padding : 0;
    border : 0;
    font-size : 100%;
    vertical-align : baseline;
    outline : none;
    }
    html {
    height : 101%;
    }
    body {
    background-color : #6c6d71;
    font-size : 62.5%;
    line-height : 1;
    font-family : Verdana, Tahoma;
    text-align : center;
    color : #eaeaec;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display : block;
    }
    ol, ul {
    list-style : none;
    }
    blockquote, q {
    quotes : none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
    content : '';
    content : none;
    }
    strong {
    font-weight : bold;
    }
    input {
    outline : none;
    }
    nav {
    text-align : center;
    font-size : 150%;
    margin-top : 2%;
    margin-bottom : 5%;
    }
    table {
    border-collapse : collapse;
    border-spacing : 0;
    margin : 0 auto;
    color : #eaeaec;
    }
    table, th, td {
    border : #b2bac9 dashed 2px;
    padding : 5px;
    }
    img {
    border : 0;
    max-width : 100%;
    text-align : center;
    }
    h1 {
    font-size : 3em;
    text-align : center;
    width : auto;
    margin : 15px;
    padding : 15px;
    letter-spacing : 2px;
    border : #b2bac9 dashed 2px;
    color : #eaeaec;
    font-weight : normal;
    }
    h4 {
    font-size : 2em;
    text-align : center;
    width : auto;
    margin : 15px;
    padding : 15px;
    letter-spacing : 2px;
    border : #b2bac9 dashed 2px;
    color : #eaeaec;
    font-weight : normal;
    }
    a {
    text-decoration : none;
    color : #b2bac9;
    letter-spacing : 4px;
    font-size : 1.5em;
    }
    a:hover {
    text-decoration : none;
    color : #04b3d5;
    }
    .content {
    font-size : 2em;
    margin : 15px;
    width : auto;
    color : #eaeaec;
    padding-right : 5%;
    padding-left : 5%;
    }
    .menuheader {
    color : #ffcc85;
    letter-spacing : 5px;
    font-size : 2em;
    }
    footer {
    padding-bottom : 1%;
    }
    